#platform=x86, AMD64, or Intel EM64T
#version=DEVEL
# X Window System configuration information
xconfig  --startxonboot
# Keyboard layouts
# old format: keyboard us
# new format:
keyboard --vckeymap=us --xlayouts='us'
# Reboot after installation
reboot
# Root password
rootpw P@ssw0rd
# System timezone
timezone America/Detroit
# Use network installation
url --url="https://mirror.usi.edu/pub/centos-stream/9-stream/BaseOS/x86_64/os"
# System language
lang en_US
# Firewall configuration
firewall --disabled
# Network information
network  --bootproto=dhcp --device=ens1
# System authorization information
## auth  --useshadow  --passalgo=sha512 #Deprecated in favor of authselect. No longer needed according to https://www.mankier.com/7/authselect-migration#Converting_Your_Scripts:~:text=Authconfig%20options%20%2D%2Denableshadow,omit%20these%20options.
## also see https://access.redhat.com/documentation/en-us/red_hat_enterprise_linux/9/html/configuring_authentication_and_authorization_in_rhel/configuring-user-authentication-using-authselect_configuring-authentication-and-authorization-in-rhel
authselect select sssd
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --disabled
# SELinux configuration
selinux --disabled 
# Disk partitioning information
##ignoredisk --only-use=sda #changed to accomodate nvme drive instead of sata/ahci
ignoredisk --only-use=nvme0n1
# System bootloader configuration
##bootloader --append="crashkernel=auto" --location=mbr  --boot-drive=sda #same comment as above
bootloader --append="crashkernel=auto" --location=mbr  --boot-drive=nvme0n1
autopart --type=lvm
# Clear the Master Boot Record
zerombr
# Partition clearing information
## clearpart --all --initlabel --drives=sda #same comment as above
clearpart --all --initlabel --drives=nvme0n1
#Add additional repositories
%packages
@^graphical-server-environment
@System Tools
realmd 
sssd 
oddjob 
oddjob-mkhomedir 
adcli 
samba-common 
samba-common-tools 
krb5-workstation
vim
wget
unzip
net-tools
%end
